#main {
  margin: 20px;
}

button:focus {
  outline: 0;
}

/* Error alert message box */
.alert {
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* User online indicator */
.status {
  opacity: 0;
}

.online {
  color: rgb(139, 222, 14);
  opacity: 1;
}

/* User selector in new room form */
.userSelect {
  padding: 15px;
  margin: 10px;
  opacity: 0.5px;
  background-color: rgb(228, 228, 228);
  text-align: center;
}

.userSelect.selected {
  opacity: 1;
  background-color: rgb(147, 147, 147);
  color: white;
  font-weight: bold;
}

/* User list item in RoomPage */
.userSelect.activeUser {
  opacity: 1;
  background-color: rgb(141, 244, 78);
  /* color: white; */
  font-weight: bold;
}
