body {
  font-family: "Open Sans", sans-serif;
}

.MainContainerBody {
  margin-top: 60px;
}

.easeBackgroundColor {
  transition: background-color 500ms ease;
}

/* https://material-ui.com/customization/components/#pseudo-classes */
.MenuItem {
  color: black !important;
}
.MenuItem.selected {
  color: black;
  font-weight: bolder;
}

/* AuthForm.jsx */
#authForm > * {
  padding-bottom: 10px;
}

#authForm > .label {
  padding-bottom: 30px;
}

/* BELOW IS PREVIOUS CODE, NOT REFACTORED YET */

/* Video component */
.video {
  border: solid 10px black;
  display: inline-flex;
}

.video * {
  max-width: 100%;
}

.video {
  position: relative;
}

.video-overlay {
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  height: 100%;
  width: 100%;
}

.video-overlay.dark {
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  opacity: 1 !important;
  color: white;
  font-weight: bold;
  font-size: 70px;
}

.video-component {
  position: absolute;
}

.video.active {
  border: solid 10px rgb(141, 244, 78);
}

.video.inactive {
  border: solid 10px rgb(234, 0, 0);
}

.chatMessages {
  height: 30vh;
  min-height: 10vh;
  max-width: 500px;
  overflow-x: scroll;
  border: solid 1px rgb(188, 188, 188);
  display: flex;
  flex-direction: column-reverse;
  scroll-snap-align: end;
}

.chatMessage {
  /* max-width: 80vw; */
  background-color: rgb(225, 225, 225);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  align-self: flex-start;
  font-size: 15px;
}

.ownChatMessage {
  background-color: rgb(37, 124, 255);
  color: white;
  align-self: flex-end;
}

.messageUser {
  display: block;
  font-size: 13px;
  opacity: 0.7;
}

.systemMessage {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  text-align: center;
  align-self: center;
}

.systemMessage .messageUser {
  display: none;
}

.systemMessage .messageText {
  font-size: 10px;
  opacity: 0.7;
}
