#main {
  margin: 20px;
}

button:focus {
  outline: 0;
}

/* Error alert message box */
.alert {
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.status {
  opacity: 0;
}

.online {
  color: rgb(139, 222, 14);
  opacity: 1;
}
